nav{
      
    background-image: url("Cup_Of_Latte_On_Wooden_Table_Background__Coffee_Picture_Aesthetic__Coffee_Powerpoint__Coffee_Background_Image_And_Wallpaper_for_Free_Download-transformed.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top bottom;
    height: 400px;
    margin: 0;
    box-shadow: 0px 0px 40px;
  
  
}.nav-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    margin-top: -24px;

}
.logo {
    width: 120px;
    height: 50px; 
    margin-left: 20px;
    object-fit: cover;
    background-size: cover;
}
.btn-container {
    display: flex;
    /* margin-right: 5px; */
    gap: 10px;

}
.btn {
    margin-right: 40px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    margin-left: px;
}.btn:hover{
    background-color: rgba(255, 255, 255, 0.384);
    transition: 0.8s;     
}.grid:hover{
    transform: scale(1.02);
    transition: 0.6s;
    cursor: pointer;
    
}.nav-header{
    color: white;
    font-family:'Times New Roman', Times, serif;
    margin-top: 40px; 
    margin-left: 30px;

    /* font-weight: 600; */
    font-variant: small-caps;
}h1{
    font-size:100px ;
    margin-top: -15px;
  
}h2{
    font-size: 38px;
}.pangalan{
    font-family: 'Brush Script', cursive;           
    font-style: oblique;
    margin-top: 10px;
}
.bg-body{
    background-image: url("enlarge_Coffee_espresso_in_dark_cups_coffee_stock_photo_containing_beans_and_beverage.jpg");
    /* height: 2200px; */
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    margin-top:25px;
    width: 100%;

    
}
.display-1{
    font-family: cursive;
    font-style: italic;
    text-align: center;
    color: white;
    /* font-size:76px; */
    
    
}.grid{
    width: 210px;
    height: 320px;
    margin: auto;
    margin-top: 30px;
    background-color: #b3b3b3b9;
    
 
    
}.row{
    margin-left: 30px;
    margin-right: 30px;
}.bilog{
    width: 130px;
    height: 125px;
    object-fit: cover;
 
}p{
    margin:0;
}.tinapay{
    margin-top: 70px;
}button{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100px;
    border: none;
}#Order:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.616);
    
}.ordbtn{
    height: 100px;
    width: 100px;
    /* border: 1px solid black; */
    margin-left: 40px;
    margin-top:33px;
    margin-bottom: 0px;
}.ordbtn1{
    margin-top: 30px;
 
}.ordbtn3{
    margin-top: 23px;
}